[Desktop Entry]
Name=Junk Cleaner
Exec=junk-cleaner
Comment=Start or Stop junk-cleaner
Terminal=false
Icon=/usr/share/junk-cleaner/favicon.ico
Type=Application
Hidden=false
